@font-face {
    font-family: 'Raleway-ExtraBold';
    src: url(Raleway-ExtraBold.woff2) format('woff2'),
         url(Raleway-ExtraBold.woff) format('woff');
    font-weight:800;
}

@font-face {
    font-family: 'Raleway-Regular';
    src: url(Raleway-Regular.woff2) format('woff2'),
         url(Raleway-Regular.woff) format('woff');
    font-weight:400;
} 